* {
    margin: 0;
    box-sizing: border-box;
}

.icon-centered {
    align-self: center;
}

.project-card {
    transition: transform .2s; /* Animation */
}
  
  .project-card:hover {
    transform: scale(1.05); /* (150% project-card - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: #575BF5;
}
